.header {
  font-size: 3rem;
}

.dialog-grid {
  display: grid;
  form {
    display: grid;
    width: 500px;
    grid-template-columns: auto 1fr;
    gap: 5px;
  }

  #book-form-buttons {
    grid-column: 1 / -1;
    justify-self: end;
  }
}

#books-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.book-card {
  display: grid;
  grid-template-rows: auto 200px auto auto;
  grid-template-columns: 200px;
  background-color: grey;

  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  & > img {
    width: 100%;
    height: 100%;
  }
  
  .book-status {
    display: flex;
    gap: 20px;

    :last-child {
      flex: auto;
    }
  }
}

.book-grid{
  display: flex;
  flex-direction: column;
  justify-items: center;

  .book-row, #book-grid-header {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    padding: 3px 10px;

    font-size: 1rem;

    :nth-child(1) {
      flex: 1;
    }
  }

  #book-grid-header {
    background-color: red;
  }

  .book-row {
    &:nth-child(even) {background-color: rgb(174, 174, 174);}
    &:nth-child(odd) {background-color: rgb(216, 216, 216);}
  }
}