.header {
  font-size: 3rem;
}

html {
  min-height: 100vh;
  background: url("./images/background.jpeg") no-repeat center center fixed;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: red;
  margin-bottom: 10px;
  padding: 20px;

  text-transform: uppercase;
}

.dialog-grid {
  display: grid;
  form {
    display: grid;
    width: 500px;
    grid-template-columns: auto 1fr;
    gap: 5px;
  }

  #book-form-buttons {
    grid-column: 1 / -1;
    justify-self: end;
  }
}

.book-grid{
  display: flex;
  flex-direction: column;
  justify-items: center;

  width: 1000px;

  .book-row, #book-grid-header {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    padding: 4px 15px;

    font-size: 1rem;

    :nth-child(1) {
      flex: 1;
    }
    :nth-child(n+2) {
      flex: 0 0 70px;
    }
  }

  #book-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #book-sort, #book-grid-header {
    background-color: red;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .book-row {
    &:nth-child(even) {background-color: rgb(174, 174, 174);}
    &:nth-child(odd) {background-color: rgb(216, 216, 216);}
    .book-main {
      display: flex;
    }

    button {
      max-width: 50px;
      &:nth-child(3) {
        max-width: 30px;
      }
    }
  }

  button.book-add {
    margin-top: 10px;
  }
}